body {
    background-color: lightsteelblue;
}

#questionOne {
    display: flex;
    justify-content: center;
}

#collegeTwo {
    display: flex;
    justify-content: center;
}

#bootcampTwo {
    display: flex;
    justify-content: center;
}

#tradeTwo {
    display: flex;
    justify-content: center;
}
label {
    margin-right: 60px;
}