body {
    background-color: lightsteelblue;
}

#title {
    display: flex;
    justify-content: center;
    margin: 50px 5% 10px;
    border: 5px solid white;
}

#description {
    display: flex;
    justify-content: center;
    margin: 5px 5%;
    padding: 10px 10px;
    border: 5px solid white;
}

#questionOne {
    display: flex;
    justify-content: center;
}

#collegeTwo {
    display: flex;
    justify-content: center;
}

#bootcampTwo {
    display: flex;
    justify-content: center;
}

#tradeTwo {
    display: flex;
    justify-content: center;
}
label {
    margin-right: 60px;
}